# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), December 8, 2019**

In [1]:
using DataFrames

## Getting basic information about a data frame

Let's start by creating a `DataFrame` object, `x`, so that we can learn how to get information on that data frame.

In [2]:
x = DataFrame(A = [1, 2], B = [1.0, missing], C = ["a", "b"])

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

The standard `size` function works to get dimensions of the `DataFrame`,

In [3]:
size(x), size(x, 1), size(x, 2)

((2, 3), 2, 3)

as well as `nrow` and `ncol` from R (`length` in the past gave the number of columns but now is deprecated).

In [4]:
nrow(x), ncol(x)

(2, 3)

`describe` gives basic summary statistics of data in your `DataFrame` (check out the help of `describe` for information how to customize shown statistics).

In [5]:
describe(x)

3×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean   │ min │ median │ max │ nunique │ nmissing │
│     │ Symbol   │ Union… │ Any │ Union… │ Any │ Union…  │ Union…   │
├─────┼──────────┼────────┼─────┼────────┼─────┼─────────┼──────────┤
│ 1   │ A        │ 1.5    │ 1   │ 1.5    │ 2   │         │          │
│ 2   │ B        │ 1.0    │ 1.0 │ 1.0    │ 1.0 │         │ 1        │
│ 3   │ C        │        │ a   │        │ b   │ 2       │          │

you can limit the columns shown by `describe` using `cols` keyword argument

In [6]:
describe(x, cols=1:2)

2×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min  │ median  │ max  │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Real │ Float64 │ Real │ Nothing │ Union…   │
├─────┼──────────┼─────────┼──────┼─────────┼──────┼─────────┼──────────┤
│ 1   │ A        │ 1.5     │ 1    │ 1.5     │ 2    │         │          │
│ 2   │ B        │ 1.0     │ 1.0  │ 1.0     │ 1.0  │         │ 1        │

`names` will return the names of all columns,

In [7]:
names(x)

3-element Array{Symbol,1}:
 :A
 :B
 :C

and using `eltype` returns their types like this

In [8]:
eltype.(eachcol(x))

3-element Array{Type,1}:
 Int64
 Union{Missing, Float64}
 String

Here we create some large `DataFrame`

In [9]:
y = DataFrame(rand(1:10, 1000, 10))

1000×10 DataFrame. Omitted printing of 1 columns
│ Row  │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│      │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├──────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1    │ 9     │ 9     │ 7     │ 2     │ 6     │ 8     │ 4     │ 7     │ 6     │
│ 2    │ 2     │ 2     │ 6     │ 10    │ 5     │ 7     │ 10    │ 6     │ 6     │
│ 3    │ 10    │ 3     │ 9     │ 7     │ 3     │ 10    │ 10    │ 4     │ 6     │
│ 4    │ 5     │ 10    │ 5     │ 9     │ 5     │ 6     │ 2     │ 9     │ 8     │
│ 5    │ 1     │ 6     │ 6     │ 10    │ 7     │ 5     │ 8     │ 2     │ 6     │
│ 6    │ 3     │ 7     │ 1     │ 7     │ 8     │ 10    │ 4     │ 9     │ 7     │
│ 7    │ 2     │ 8     │ 10    │ 2     │ 3     │ 10    │ 8     │ 9     │ 9     │
│ 8    │ 9     │ 5     │ 9     │ 7     │ 4     │ 5     │ 7     │ 10    │ 6     │
│ 9    │ 2     │ 5     │ 9     │ 4     │ 6     │ 4     │ 9     │ 10    │ 9     │
│ 10   │ 2     │ 10    │ 4     │ 4     │ 4     │ 9     │ 3     │ 6     │ 7     │
⋮
│ 990  │ 9     │ 4     │ 7     │ 8     │ 8     │ 3     │ 8     │ 6     │ 8     │
│ 991  │ 3     │ 6     │ 10    │ 5     │ 5     │ 7     │ 4     │ 2     │ 9     │
│ 992  │ 4     │ 10    │ 8     │ 4     │ 9     │ 9     │ 1     │ 8     │ 2     │
│ 993  │ 9     │ 2     │ 10    │ 1     │ 1     │ 9     │ 2     │ 6     │ 9     │
│ 994  │ 10    │ 8     │ 9     │ 6     │ 2     │ 7     │ 10    │ 3     │ 5     │
│ 995  │ 6     │ 10    │ 7     │ 7     │ 3     │ 8     │ 4     │ 1     │ 6     │
│ 996  │ 9     │ 4     │ 10    │ 9     │ 10    │ 9     │ 5     │ 4     │ 2     │
│ 997  │ 4     │ 7     │ 9     │ 4     │ 3     │ 10    │ 4     │ 7     │ 10    │
│ 998  │ 1     │ 10    │ 8     │ 4     │ 8     │ 5     │ 2     │ 1     │ 8     │
│ 999  │ 6     │ 9     │ 5     │ 9     │ 6     │ 7     │ 2     │ 9     │ 2     │
│ 1000 │ 4     │ 9     │ 5     │ 2     │ 7     │ 9     │ 1     │ 3     │ 8     │

and then we can use `first` to peek into its first few rows

In [10]:
first(y, 5)

5×10 DataFrame. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 9     │ 9     │ 7     │ 2     │ 6     │ 8     │ 4     │ 7     │ 6     │
│ 2   │ 2     │ 2     │ 6     │ 10    │ 5     │ 7     │ 10    │ 6     │ 6     │
│ 3   │ 10    │ 3     │ 9     │ 7     │ 3     │ 10    │ 10    │ 4     │ 6     │
│ 4   │ 5     │ 10    │ 5     │ 9     │ 5     │ 6     │ 2     │ 9     │ 8     │
│ 5   │ 1     │ 6     │ 6     │ 10    │ 7     │ 5     │ 8     │ 2     │ 6     │

and `last` to see its bottom rows.

In [11]:
last(y, 3)

3×10 DataFrame. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 10    │ 8     │ 4     │ 8     │ 5     │ 2     │ 1     │ 8     │
│ 2   │ 6     │ 9     │ 5     │ 9     │ 6     │ 7     │ 2     │ 9     │ 2     │
│ 3   │ 4     │ 9     │ 5     │ 2     │ 7     │ 9     │ 1     │ 3     │ 8     │

Using `first` and `last` without number of rows will return a first/last `DataFrameRow` in the `DataFrame`

In [12]:
first(y)

DataFrameRow. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 9     │ 9     │ 7     │ 2     │ 6     │ 8     │ 4     │ 7     │ 6     │

In [13]:
last(y)

DataFrameRow. Omitted printing of 1 columns
│ Row  │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│      │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├──────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1000 │ 4     │ 9     │ 5     │ 2     │ 7     │ 9     │ 1     │ 3     │ 8     │

### Most elementary get and set operations

Given the `DataFrame`, `x`, here are four ways to grab one of its columns as a `Vector`.

In [14]:
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

In [15]:
x.A, x[!, 1], x[!, :A] # all get the vector stored in our DataFrame without copying it

([1, 2], [1, 2], [1, 2])

In [16]:
x[:, 1] # note that this creates a copy

2-element Array{Int64,1}:
 1
 2

In [17]:
x[:, 1] === x[:, 1]

false

To grab one row as a `DataFrame`, we can index as follows.

In [18]:
x[1:1, :]

1×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

In [19]:
x[1, :] # this produces a DataFrameRow which is treated as 1-dimensional object

DataFrameRow
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

We can grab a single cell or element with the same syntax to grab an element of an array.

In [20]:
x[1, 1]

1

or a new `DataFrame` that is a subset of rows and columns

In [21]:
x[1:2, 1:2]

2×2 DataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 1.0      │
│ 2   │ 2     │ missing  │

You can also use `Regex` to select columns and `Not` from InvertedIndices.jl both to select rows and columns

In [22]:
x[Not(1), r"A"]

1×1 DataFrame
│ Row │ A     │
│     │ Int64 │
├─────┼───────┤
│ 1   │ 2     │

In [23]:
x[!, Not(1)] # ! indicates that underlying columns are not copied

2×2 DataFrame
│ Row │ B        │ C      │
│     │ Float64⍰ │ String │
├─────┼──────────┼────────┤
│ 1   │ 1.0      │ a      │
│ 2   │ missing  │ b      │

In [24]:
x[:, Not(1)] # : means that the columns will get copied

2×2 DataFrame
│ Row │ B        │ C      │
│     │ Float64⍰ │ String │
├─────┼──────────┼────────┤
│ 1   │ 1.0      │ a      │
│ 2   │ missing  │ b      │

Assignment of a scalar to a data frame can be done in ranges using broadcasting:

In [25]:
x[1:2, 1:2] .= 1
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 1     │ 1.0      │ b      │

of a vector of length equal to the number of assigned rows using broadcasting

In [26]:
x[1:2, 1:2] .= [1,2]
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ 2.0      │ b      │

or of another data frame of matching size and column names, again using broadcasting:

In [27]:
x[1:2, 1:2] .= DataFrame([5 6; 7 8], [:A, :B])
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 5     │ 6.0      │ a      │
│ 2   │ 7     │ 8.0      │ b      │

**Caution**

With `df[!, :col]` and `df.col` syntax you get a direct (non copying) access to a column of a data frame.
This is potentially unsafe as you can easily corrupt data in the `df` data frame if you resize, sort, etc. the column obtained in this way.
Therefore such access should be used with caution.

Similarly `df[!, cols]` when `cols` is a collection of columns produces a new data frame that holds the same (not copied) columns as the source `df` data frame. Similarly, modifying the data frame obtained via `df[!, cols]` might cause problems with the consistency of `df`.

The `df[:, :col]` and `df[:, cols]` syntaxes always copy columns so they are safe to use (and should generally be preferred except for performance or memory critical use cases).

Here are examples how `All` and `Between` can be used to select columns of a data frame.

In [28]:
x = DataFrame(rand(4, 5))

4×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.426871 │ 0.10897  │ 0.710206 │ 0.747045 │ 0.152879 │
│ 2   │ 0.249029 │ 0.585346 │ 0.505378 │ 0.169015 │ 0.659107 │
│ 3   │ 0.440217 │ 0.839767 │ 0.25593  │ 0.320813 │ 0.814509 │
│ 4   │ 0.545513 │ 0.543456 │ 0.853746 │ 0.70251  │ 0.274569 │

In [29]:
x[:, Between(:x2, :x4)]

4×3 DataFrame
│ Row │ x2       │ x3       │ x4       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.10897  │ 0.710206 │ 0.747045 │
│ 2   │ 0.585346 │ 0.505378 │ 0.169015 │
│ 3   │ 0.839767 │ 0.25593  │ 0.320813 │
│ 4   │ 0.543456 │ 0.853746 │ 0.70251  │

In [30]:
x[:, All(:x1, Between(:x2, :x4))]

4×4 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.426871 │ 0.10897  │ 0.710206 │ 0.747045 │
│ 2   │ 0.249029 │ 0.585346 │ 0.505378 │ 0.169015 │
│ 3   │ 0.440217 │ 0.839767 │ 0.25593  │ 0.320813 │
│ 4   │ 0.545513 │ 0.543456 │ 0.853746 │ 0.70251  │

### Views

You can simply create a view of a `DataFrame` (it is more efficient than creating a materialized selection). Here are the possible return value options.

In [31]:
@view x[1:2, 1]

2-element view(::Array{Float64,1}, 1:2) with eltype Float64:
 0.4268714219181624
 0.24902935025645445

In [32]:
@view x[1,1]

0-dimensional view(::Array{Float64,1}, 1) with eltype Float64:
0.4268714219181624

In [33]:
@view x[1, 1:2] # a DataFrameRow, the same as for x[1, 1:2] without a view

DataFrameRow
│ Row │ x1       │ x2      │
│     │ Float64  │ Float64 │
├─────┼──────────┼─────────┤
│ 1   │ 0.426871 │ 0.10897 │

In [34]:
@view x[1:2, 1:2] # a SubDataFrame

2×2 SubDataFrame
│ Row │ x1       │ x2       │
│     │ Float64  │ Float64  │
├─────┼──────────┼──────────┤
│ 1   │ 0.426871 │ 0.10897  │
│ 2   │ 0.249029 │ 0.585346 │

### Adding new columns to a data frame

In [35]:
df = DataFrame()

0×0 DataFrame

using `setproperty!`

In [36]:
x = [1, 2, 3]
df.a = x
df

3×1 DataFrame
│ Row │ a     │
│     │ Int64 │
├─────┼───────┤
│ 1   │ 1     │
│ 2   │ 2     │
│ 3   │ 3     │

In [37]:
df.a === x # no copy is performed

true

using `setindex!`

In [38]:
df[!, :b] = x
df[:, :c] = x
df

3×3 DataFrame
│ Row │ a     │ b     │ c     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 2     │ 2     │ 2     │
│ 3   │ 3     │ 3     │ 3     │

In [39]:
df.b === x # no copy

true

In [40]:
df.c === x # copy

false

In [41]:
df[!, :d] .= x
df[:, :e] .= x
df

3×5 DataFrame
│ Row │ a     │ b     │ c     │ d     │ e     │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │ 1     │ 1     │
│ 2   │ 2     │ 2     │ 2     │ 2     │ 2     │
│ 3   │ 3     │ 3     │ 3     │ 3     │ 3     │

In [42]:
df.d === x, df.e === x # both copy, so in this case `!` and `:` has the same effect

(false, false)

note that in our data frame columns `:a` and `:b` store the vector `x` (not a copy)

In [43]:
df.a === df.b === x

true

This can lead to silent errors. For example this code leads to a bug:

In [44]:
for (n, c) in eachcol(df, true)
    println("$n: ", pop!(c))
end

a: 3
b: 2
c: 3
d: 3
e: 3

note that for column `:b` we printed `2` as `3` was removed from it when we used `pop!` on column `:a`.

Such mistakes sometimes happen. Because of this DataFrames.jl performs consistency checks before doing an expensive operation (most notably before showing a data frame).

In [45]:
df

AssertionError: AssertionError: Data frame is corrupt: length of column :c (2) does not match length of column 1 (1). The column vector has likely been resized unintentionally (either directly or because it is shared with another data frame).

We can investigate the columns to find out what happend:

In [46]:
collect(eachcol(df, true))

5-element Array{Pair{Symbol,AbstractArray{T,1} where T},1}:
 :a => [1]
 :b => [1]
 :c => [1, 2]
 :d => [1, 2]
 :e => [1, 2]

The output confirms that the data frame `df` got corrupted.

DataFrames.jl supports a complete set of `getindex`, `getproperty`, `setindex!`, `setproperty!`, `view`, broadcasting, and broadcasting assignment operations. The details are explained here: http://juliadata.github.io/DataFrames.jl/latest/lib/indexing/.