# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), July 16, 2019**

In [1]:
using DataFrames

## Getting basic information about a data frame

Let's start by creating a `DataFrame` object, `x`, so that we can learn how to get information on that data frame.

In [2]:
x = DataFrame(A = [1, 2], B = [1.0, missing], C = ["a", "b"])

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

The standard `size` function works to get dimensions of the `DataFrame`,

In [3]:
size(x), size(x, 1), size(x, 2)

((2, 3), 2, 3)

as well as `nrow` and `ncol` from R (`length` in the past gave the number of columns but now is deprecated).

In [4]:
nrow(x), ncol(x)

(2, 3)

`describe` gives basic summary statistics of data in your `DataFrame` (check out the help of `describe` for information how to customize shown statistics).

In [5]:
describe(x)

3×8 DataFrame
│ Row │ variable │ mean   │ min │ median │ max │ nunique │ nmissing │ eltype   │
│     │ Symbol   │ Union… │ Any │ Union… │ Any │ Union…  │ Union…   │ DataType │
├─────┼──────────┼────────┼─────┼────────┼─────┼─────────┼──────────┼──────────┤
│ 1   │ A        │ 1.5    │ 1   │ 1.5    │ 2   │         │          │ Int64    │
│ 2   │ B        │ 1.0    │ 1.0 │ 1.0    │ 1.0 │         │ 1        │ Float64  │
│ 3   │ C        │        │ a   │        │ b   │ 2       │          │ String   │

`names` will return the names of all columns,

In [6]:
names(x)

3-element Array{Symbol,1}:
 :A
 :B
 :C

and `eltypes` returns their types.

In [7]:
eltypes(x)

3-element Array{Type,1}:
 Int64
 Union{Missing, Float64}
 String

Here we create some large `DataFrame`

In [8]:
y = DataFrame(rand(1:10, 1000, 10))

1000×10 DataFrame
│ Row  │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │ x10   │
│      │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├──────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1    │ 5     │ 8     │ 6     │ 5     │ 5     │ 4     │ 7     │ 1     │ 2     │ 4     │
│ 2    │ 6     │ 4     │ 10    │ 8     │ 1     │ 1     │ 2     │ 9     │ 2     │ 6     │
│ 3    │ 3     │ 9     │ 7     │ 6     │ 6     │ 9     │ 9     │ 6     │ 3     │ 6     │
│ 4    │ 6     │ 5     │ 1     │ 8     │ 7     │ 9     │ 5     │ 10    │ 5     │ 2     │
│ 5    │ 4     │ 2     │ 7     │ 4     │ 9     │ 7     │ 5     │ 7     │ 7     │ 6     │
│ 6    │ 7     │ 2     │ 10    │ 5     │ 6     │ 8     │ 5     │ 3     │ 4     │ 5     │
│ 7    │ 8     │ 9     │ 1     │ 1     │ 6     │ 7     │ 8     │ 2     │ 7     │ 10    │
⋮
│ 993  │ 5     │ 7     │ 7     │ 1     │ 6     │ 4     │ 2     │ 5     │ 2     │ 10    │
│ 994  │ 9     │ 2     │ 5     │ 4     │ 6     │ 7     │ 9     │ 7     │ 6     │ 2     │
│ 995  │ 2     │ 3     │ 8     │ 8     │ 3     │ 3     │ 1     │ 2     │ 9     │ 8     │
│ 996  │ 3     │ 7     │ 9     │ 4     │ 10    │ 10    │ 1     │ 3     │ 9     │ 2     │
│ 997  │ 7     │ 6     │ 8     │ 4     │ 2     │ 6     │ 4     │ 4     │ 3     │ 8     │
│ 998  │ 6     │ 1     │ 7     │ 9     │ 7     │ 2     │ 6     │ 4     │ 6     │ 2     │
│ 999  │ 1     │ 10    │ 10    │ 1     │ 2     │ 10    │ 4     │ 8     │ 10    │ 4     │
│ 1000 │ 5     │ 3     │ 10    │ 2     │ 10    │ 2     │ 10    │ 3     │ 7     │ 5     │

and then we can use `first` to peek into its first few rows

In [9]:
first(y, 5)

5×10 DataFrame
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │ x10   │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 5     │ 8     │ 6     │ 5     │ 5     │ 4     │ 7     │ 1     │ 2     │ 4     │
│ 2   │ 6     │ 4     │ 10    │ 8     │ 1     │ 1     │ 2     │ 9     │ 2     │ 6     │
│ 3   │ 3     │ 9     │ 7     │ 6     │ 6     │ 9     │ 9     │ 6     │ 3     │ 6     │
│ 4   │ 6     │ 5     │ 1     │ 8     │ 7     │ 9     │ 5     │ 10    │ 5     │ 2     │
│ 5   │ 4     │ 2     │ 7     │ 4     │ 9     │ 7     │ 5     │ 7     │ 7     │ 6     │

and `last` to see its bottom rows.

In [10]:
last(y, 3)

3×10 DataFrame
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │ x10   │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 6     │ 1     │ 7     │ 9     │ 7     │ 2     │ 6     │ 4     │ 6     │ 2     │
│ 2   │ 1     │ 10    │ 10    │ 1     │ 2     │ 10    │ 4     │ 8     │ 10    │ 4     │
│ 3   │ 5     │ 3     │ 10    │ 2     │ 10    │ 2     │ 10    │ 3     │ 7     │ 5     │

Using `first` and `last` without number of rows will return a first/last `DataFrameRow` in the `DataFrame`

In [11]:
first(y)

DataFrameRow
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │ x10   │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 5     │ 8     │ 6     │ 5     │ 5     │ 4     │ 7     │ 1     │ 2     │ 4     │

In [12]:
last(y)

DataFrameRow
│ Row  │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │ x10   │
│      │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├──────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1000 │ 5     │ 3     │ 10    │ 2     │ 10    │ 2     │ 10    │ 3     │ 7     │ 5     │

### Most elementary get and set operations

Given the `DataFrame`, `x`, here are four ways to grab one of its columns as a `Vector`.

In [13]:
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

In [14]:
x.A, x[!, 1], x[!, :A] # all get the vector stored in our DataFrame without copying it

([1, 2], [1, 2], [1, 2])

In [15]:
x[:, 1] # note that this creates a copy

2-element Array{Int64,1}:
 1
 2

In [16]:
x[:, 1] === x[:, 1]

false

To grab one row as a `DataFrame`, we can index as follows.

In [17]:
x[1:1, :]

1×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

In [18]:
x[1, :] # this produces a DataFrameRow

DataFrameRow
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

We can grab a single cell or element with the same syntax to grab an element of an array.

In [19]:
x[1, 1]

1

or a new `DataFrame` that is a subset of rows and columns

In [20]:
x[1:2, 1:2]

2×2 DataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 1.0      │
│ 2   │ 2     │ missing  │

You can also use `Regex` to select columns and `Not` from InvertedIndices.jl both to select rows and columns

In [21]:
x[Not(1), r"A"]

1×1 DataFrame
│ Row │ A     │
│     │ Int64 │
├─────┼───────┤
│ 1   │ 2     │

In [22]:
x[!, Not(1)] # ! indicates that underlying columns are not copied

2×2 DataFrame
│ Row │ B        │ C      │
│     │ Float64⍰ │ String │
├─────┼──────────┼────────┤
│ 1   │ 1.0      │ a      │
│ 2   │ missing  │ b      │

In [23]:
x[:, Not(1)] # : means that the columns will get copied

2×2 DataFrame
│ Row │ B        │ C      │
│     │ Float64⍰ │ String │
├─────┼──────────┼────────┤
│ 1   │ 1.0      │ a      │
│ 2   │ missing  │ b      │

Assignment can be done in ranges to a scalar using broadcasting:

In [24]:
x[1:2, 1:2] .= 1
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 1     │ 1.0      │ b      │

to a vector of length equal to the number of assigned rows using broadcasting

In [25]:
x[1:2, 1:2] .= [1,2]
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ 2.0      │ b      │

or to another data frame of matching size and column names, again using broadcasting:

In [26]:
x[1:2, 1:2] .= DataFrame([5 6; 7 8], [:A, :B])
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 5     │ 6.0      │ a      │
│ 2   │ 7     │ 8.0      │ b      │

**Caution**

With `df[!, :col]` and `df.col` syntax you get a direct (non copying) access to a column of a data frame.
This is potentially unsafe as you can easily corrupt data in the `df` data frame if you resize, sort, etc. the column obtained in this way.
Therefore such access should be used with caution.

Similarly `df[!, cols]` when `cols` is a collection of columns produces a new data frame that holds the same (not copied) columns as the source `df` data frame. Similarly, modifying the data frame obtained via `df[!, cols]` might cause problems with the consistency of `df`.

The `df[:, :col]` and `df[:, cols]` syntaxes always copy columns so they are safe to use (and should generally be preferred except for performance or memory critical use cases).

### Views

You can simply create a view of a `DataFrame` (it is more efficient than creating a materialized selection). Here are the possible return value options.

In [27]:
@view x[1:2, 1]

2-element view(::Array{Int64,1}, 1:2) with eltype Int64:
 5
 7

In [28]:
@view x[1,1]

0-dimensional view(::Array{Int64,1}, 1) with eltype Int64:
5

In [29]:
@view x[1, 1:2] # a DataFrameRow, the same as for x[1, 1:2] without a view

DataFrameRow
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 5     │ 6.0      │

In [30]:
@view x[1:2, 1:2] # a SubDataFrame

2×2 SubDataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 5     │ 6.0      │
│ 2   │ 7     │ 8.0      │