# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), July 16, 2019**

In [1]:
using DataFrames # load package

## Reshaping DataFrames

### Wide to long

In [2]:
x = DataFrame(id=[1,2,3,4], id2=[1,1,2,2], M1=[11,12,13,14], M2=[111,112,113,114])

4×4 DataFrame
│ Row │ id    │ id2   │ M1    │ M2    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 11    │ 111   │
│ 2   │ 2     │ 1     │ 12    │ 112   │
│ 3   │ 3     │ 2     │ 13    │ 113   │
│ 4   │ 4     │ 2     │ 14    │ 114   │

In [3]:
melt(x, :id, [:M1, :M2]) # first pass id-variables and then measure variables; meltdf makes a view

8×3 DataFrame
│ Row │ variable │ value │ id    │
│     │ Symbol   │ Int64 │ Int64 │
├─────┼──────────┼───────┼───────┤
│ 1   │ M1       │ 11    │ 1     │
│ 2   │ M1       │ 12    │ 2     │
│ 3   │ M1       │ 13    │ 3     │
│ 4   │ M1       │ 14    │ 4     │
│ 5   │ M2       │ 111   │ 1     │
│ 6   │ M2       │ 112   │ 2     │
│ 7   │ M2       │ 113   │ 3     │
│ 8   │ M2       │ 114   │ 4     │

In [4]:
# optionally you can rename columns; melt and stack are identical but order of arguments is reversed
stack(x, [:M1, :M2], :id, variable_name=:key, value_name=:observed) # first measures and then id-s; stackdf creates view

8×3 DataFrame
│ Row │ key    │ observed │ id    │
│     │ Symbol │ Int64    │ Int64 │
├─────┼────────┼──────────┼───────┤
│ 1   │ M1     │ 11       │ 1     │
│ 2   │ M1     │ 12       │ 2     │
│ 3   │ M1     │ 13       │ 3     │
│ 4   │ M1     │ 14       │ 4     │
│ 5   │ M2     │ 111      │ 1     │
│ 6   │ M2     │ 112      │ 2     │
│ 7   │ M2     │ 113      │ 3     │
│ 8   │ M2     │ 114      │ 4     │

In [5]:
# if second argument is omitted in melt or stack , all other columns are assumed to be the second argument
# but measure variables are selected only if they are <: AbstractFloat
melt(x, [:id, :id2])

8×4 DataFrame
│ Row │ variable │ value │ id    │ id2   │
│     │ Symbol   │ Int64 │ Int64 │ Int64 │
├─────┼──────────┼───────┼───────┼───────┤
│ 1   │ M1       │ 11    │ 1     │ 1     │
│ 2   │ M1       │ 12    │ 2     │ 1     │
│ 3   │ M1       │ 13    │ 3     │ 2     │
│ 4   │ M1       │ 14    │ 4     │ 2     │
│ 5   │ M2       │ 111   │ 1     │ 1     │
│ 6   │ M2       │ 112   │ 2     │ 1     │
│ 7   │ M2       │ 113   │ 3     │ 2     │
│ 8   │ M2       │ 114   │ 4     │ 2     │

In [6]:
melt(x, [1, 2]) # you can use index instead of symbol

8×4 DataFrame
│ Row │ variable │ value │ id    │ id2   │
│     │ Symbol   │ Int64 │ Int64 │ Int64 │
├─────┼──────────┼───────┼───────┼───────┤
│ 1   │ M1       │ 11    │ 1     │ 1     │
│ 2   │ M1       │ 12    │ 2     │ 1     │
│ 3   │ M1       │ 13    │ 3     │ 2     │
│ 4   │ M1       │ 14    │ 4     │ 2     │
│ 5   │ M2       │ 111   │ 1     │ 1     │
│ 6   │ M2       │ 112   │ 2     │ 1     │
│ 7   │ M2       │ 113   │ 3     │ 2     │
│ 8   │ M2       │ 114   │ 4     │ 2     │

In [7]:
x = DataFrame(id = [1,1,1], id2=['a','b','c'], a1 = rand(3), a2 = rand(3))

3×4 DataFrame
│ Row │ id    │ id2  │ a1       │ a2        │
│     │ Int64 │ Char │ Float64  │ Float64   │
├─────┼───────┼──────┼──────────┼───────────┤
│ 1   │ 1     │ 'a'  │ 0.747331 │ 0.593142  │
│ 2   │ 1     │ 'b'  │ 0.516209 │ 0.0585483 │
│ 3   │ 1     │ 'c'  │ 0.557446 │ 0.85459   │

In [8]:
melt(x)

6×4 DataFrame
│ Row │ variable │ value     │ id    │ id2  │
│     │ Symbol   │ Float64   │ Int64 │ Char │
├─────┼──────────┼───────────┼───────┼──────┤
│ 1   │ a1       │ 0.747331  │ 1     │ 'a'  │
│ 2   │ a1       │ 0.516209  │ 1     │ 'b'  │
│ 3   │ a1       │ 0.557446  │ 1     │ 'c'  │
│ 4   │ a2       │ 0.593142  │ 1     │ 'a'  │
│ 5   │ a2       │ 0.0585483 │ 1     │ 'b'  │
│ 6   │ a2       │ 0.85459   │ 1     │ 'c'  │

In [9]:
melt(DataFrame(rand(3,2))) # by default stack and melt treats floats as value columns

6×2 DataFrame
│ Row │ variable │ value     │
│     │ Symbol   │ Float64   │
├─────┼──────────┼───────────┤
│ 1   │ x1       │ 0.460945  │
│ 2   │ x1       │ 0.0749641 │
│ 3   │ x1       │ 0.602067  │
│ 4   │ x2       │ 0.503391  │
│ 5   │ x2       │ 0.450028  │
│ 6   │ x2       │ 0.424777  │

In [10]:
df = DataFrame(rand(3,2))
df.key = [1,1,1]
mdf = melt(df) # duplicates in key are silently accepted

6×3 DataFrame
│ Row │ variable │ value     │ key   │
│     │ Symbol   │ Float64   │ Int64 │
├─────┼──────────┼───────────┼───────┤
│ 1   │ x1       │ 0.819635  │ 1     │
│ 2   │ x1       │ 0.85051   │ 1     │
│ 3   │ x1       │ 0.268018  │ 1     │
│ 4   │ x2       │ 0.55634   │ 1     │
│ 5   │ x2       │ 0.0120418 │ 1     │
│ 6   │ x2       │ 0.882348  │ 1     │

### Long to wide

In [11]:
x = DataFrame(id = [1,1,1], id2=['a','b','c'], a1 = rand(3), a2 = rand(3))

3×4 DataFrame
│ Row │ id    │ id2  │ a1       │ a2       │
│     │ Int64 │ Char │ Float64  │ Float64  │
├─────┼───────┼──────┼──────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.464304 │ 0.468282 │
│ 2   │ 1     │ 'b'  │ 0.370404 │ 0.442787 │
│ 3   │ 1     │ 'c'  │ 0.208386 │ 0.232125 │

In [12]:
y = melt(x, [1,2])
display(x)
display(y)

3×4 DataFrame
│ Row │ id    │ id2  │ a1       │ a2       │
│     │ Int64 │ Char │ Float64  │ Float64  │
├─────┼───────┼──────┼──────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.464304 │ 0.468282 │
│ 2   │ 1     │ 'b'  │ 0.370404 │ 0.442787 │
│ 3   │ 1     │ 'c'  │ 0.208386 │ 0.232125 │

6×4 DataFrame
│ Row │ variable │ value    │ id    │ id2  │
│     │ Symbol   │ Float64  │ Int64 │ Char │
├─────┼──────────┼──────────┼───────┼──────┤
│ 1   │ a1       │ 0.464304 │ 1     │ 'a'  │
│ 2   │ a1       │ 0.370404 │ 1     │ 'b'  │
│ 3   │ a1       │ 0.208386 │ 1     │ 'c'  │
│ 4   │ a2       │ 0.468282 │ 1     │ 'a'  │
│ 5   │ a2       │ 0.442787 │ 1     │ 'b'  │
│ 6   │ a2       │ 0.232125 │ 1     │ 'c'  │

In [13]:
unstack(y, :id2, :variable, :value) # stndard unstack with a unique key

3×3 DataFrame
│ Row │ id2  │ a1       │ a2       │
│     │ Char │ Float64⍰ │ Float64⍰ │
├─────┼──────┼──────────┼──────────┤
│ 1   │ 'a'  │ 0.464304 │ 0.468282 │
│ 2   │ 'b'  │ 0.370404 │ 0.442787 │
│ 3   │ 'c'  │ 0.208386 │ 0.232125 │

In [14]:
unstack(y, :variable, :value) # all other columns are treated as keys

3×4 DataFrame
│ Row │ id    │ id2  │ a1       │ a2       │
│     │ Int64 │ Char │ Float64⍰ │ Float64⍰ │
├─────┼───────┼──────┼──────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.464304 │ 0.468282 │
│ 2   │ 1     │ 'b'  │ 0.370404 │ 0.442787 │
│ 3   │ 1     │ 'c'  │ 0.208386 │ 0.232125 │

In [15]:
# all columns other than :variable and :value are treated as keys
unstack(y)

3×4 DataFrame
│ Row │ id    │ id2  │ a1       │ a2       │
│     │ Int64 │ Char │ Float64⍰ │ Float64⍰ │
├─────┼───────┼──────┼──────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.464304 │ 0.468282 │
│ 2   │ 1     │ 'b'  │ 0.370404 │ 0.442787 │
│ 3   │ 1     │ 'c'  │ 0.208386 │ 0.232125 │

In [16]:
df = stack(DataFrame(rand(3,2)))

6×2 DataFrame
│ Row │ variable │ value    │
│     │ Symbol   │ Float64  │
├─────┼──────────┼──────────┤
│ 1   │ x1       │ 0.449275 │
│ 2   │ x1       │ 0.145481 │
│ 3   │ x1       │ 0.952804 │
│ 4   │ x2       │ 0.558855 │
│ 5   │ x2       │ 0.815565 │
│ 6   │ x2       │ 0.343187 │

In [17]:
unstack(df, :variable, :value) # unable to unstack when no key column is present

ArgumentError: ArgumentError: No key column found