# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), August 26, 2019**

In [1]:
using Pkg
Pkg.activate(".")

Activating environment at `d:\Dev\Julia\DataFrames_Tutorial\Project.toml`

In [2]:
using DataFrames # load package

## Reshaping DataFrames

### Wide to long

In [3]:
x = DataFrame(id=[1,2,3,4], id2=[1,1,2,2], M1=[11,12,13,14], M2=[111,112,113,114])

4×4 DataFrame
│ Row │ id    │ id2   │ M1    │ M2    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 11    │ 111   │
│ 2   │ 2     │ 1     │ 12    │ 112   │
│ 3   │ 3     │ 2     │ 13    │ 113   │
│ 4   │ 4     │ 2     │ 14    │ 114   │

In [4]:
melt(x, :id, [:M1, :M2]) # first pass id-variables and then measure variables; meltdf makes a view

8×3 DataFrame
│ Row │ variable │ value │ id    │
│     │ Symbol   │ Int64 │ Int64 │
├─────┼──────────┼───────┼───────┤
│ 1   │ M1       │ 11    │ 1     │
│ 2   │ M1       │ 12    │ 2     │
│ 3   │ M1       │ 13    │ 3     │
│ 4   │ M1       │ 14    │ 4     │
│ 5   │ M2       │ 111   │ 1     │
│ 6   │ M2       │ 112   │ 2     │
│ 7   │ M2       │ 113   │ 3     │
│ 8   │ M2       │ 114   │ 4     │

In [5]:
# optionally you can rename columns; melt and stack are identical but order of arguments is reversed
stack(x, [:M1, :M2], :id, variable_name=:key, value_name=:observed) # first measures and then id-s; stackdf creates view

8×3 DataFrame
│ Row │ key    │ observed │ id    │
│     │ Symbol │ Int64    │ Int64 │
├─────┼────────┼──────────┼───────┤
│ 1   │ M1     │ 11       │ 1     │
│ 2   │ M1     │ 12       │ 2     │
│ 3   │ M1     │ 13       │ 3     │
│ 4   │ M1     │ 14       │ 4     │
│ 5   │ M2     │ 111      │ 1     │
│ 6   │ M2     │ 112      │ 2     │
│ 7   │ M2     │ 113      │ 3     │
│ 8   │ M2     │ 114      │ 4     │

In [6]:
# if second argument is omitted in melt or stack , all other columns are assumed to be the second argument
# but measure variables are selected only if they are <: AbstractFloat
melt(x, [:id, :id2])

8×4 DataFrame
│ Row │ variable │ value │ id    │ id2   │
│     │ Symbol   │ Int64 │ Int64 │ Int64 │
├─────┼──────────┼───────┼───────┼───────┤
│ 1   │ M1       │ 11    │ 1     │ 1     │
│ 2   │ M1       │ 12    │ 2     │ 1     │
│ 3   │ M1       │ 13    │ 3     │ 2     │
│ 4   │ M1       │ 14    │ 4     │ 2     │
│ 5   │ M2       │ 111   │ 1     │ 1     │
│ 6   │ M2       │ 112   │ 2     │ 1     │
│ 7   │ M2       │ 113   │ 3     │ 2     │
│ 8   │ M2       │ 114   │ 4     │ 2     │

In [7]:
melt(x, [1, 2]) # you can use index instead of symbol

8×4 DataFrame
│ Row │ variable │ value │ id    │ id2   │
│     │ Symbol   │ Int64 │ Int64 │ Int64 │
├─────┼──────────┼───────┼───────┼───────┤
│ 1   │ M1       │ 11    │ 1     │ 1     │
│ 2   │ M1       │ 12    │ 2     │ 1     │
│ 3   │ M1       │ 13    │ 3     │ 2     │
│ 4   │ M1       │ 14    │ 4     │ 2     │
│ 5   │ M2       │ 111   │ 1     │ 1     │
│ 6   │ M2       │ 112   │ 2     │ 1     │
│ 7   │ M2       │ 113   │ 3     │ 2     │
│ 8   │ M2       │ 114   │ 4     │ 2     │

In [8]:
x = DataFrame(id = [1,1,1], id2=['a','b','c'], a1 = rand(3), a2 = rand(3))

3×4 DataFrame
│ Row │ id    │ id2  │ a1        │ a2       │
│     │ Int64 │ Char │ Float64   │ Float64  │
├─────┼───────┼──────┼───────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.0181146 │ 0.376278 │
│ 2   │ 1     │ 'b'  │ 0.451502  │ 0.842526 │
│ 3   │ 1     │ 'c'  │ 0.411881  │ 0.254315 │

In [9]:
melt(x)

6×4 DataFrame
│ Row │ variable │ value     │ id    │ id2  │
│     │ Symbol   │ Float64   │ Int64 │ Char │
├─────┼──────────┼───────────┼───────┼──────┤
│ 1   │ a1       │ 0.0181146 │ 1     │ 'a'  │
│ 2   │ a1       │ 0.451502  │ 1     │ 'b'  │
│ 3   │ a1       │ 0.411881  │ 1     │ 'c'  │
│ 4   │ a2       │ 0.376278  │ 1     │ 'a'  │
│ 5   │ a2       │ 0.842526  │ 1     │ 'b'  │
│ 6   │ a2       │ 0.254315  │ 1     │ 'c'  │

In [10]:
melt(DataFrame(rand(3,2))) # by default stack and melt treats floats as value columns

6×2 DataFrame
│ Row │ variable │ value     │
│     │ Symbol   │ Float64   │
├─────┼──────────┼───────────┤
│ 1   │ x1       │ 0.671799  │
│ 2   │ x1       │ 0.622066  │
│ 3   │ x1       │ 0.683776  │
│ 4   │ x2       │ 0.0809069 │
│ 5   │ x2       │ 0.0952156 │
│ 6   │ x2       │ 0.215403  │

In [11]:
df = DataFrame(rand(3,2))
df.key = [1,1,1]
mdf = melt(df) # duplicates in key are silently accepted

6×3 DataFrame
│ Row │ variable │ value    │ key   │
│     │ Symbol   │ Float64  │ Int64 │
├─────┼──────────┼──────────┼───────┤
│ 1   │ x1       │ 0.700443 │ 1     │
│ 2   │ x1       │ 0.44088  │ 1     │
│ 3   │ x1       │ 0.185557 │ 1     │
│ 4   │ x2       │ 0.955603 │ 1     │
│ 5   │ x2       │ 0.603226 │ 1     │
│ 6   │ x2       │ 0.94004  │ 1     │

### Long to wide

In [12]:
x = DataFrame(id = [1,1,1], id2=['a','b','c'], a1 = rand(3), a2 = rand(3))

3×4 DataFrame
│ Row │ id    │ id2  │ a1        │ a2       │
│     │ Int64 │ Char │ Float64   │ Float64  │
├─────┼───────┼──────┼───────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.0429796 │ 0.479508 │
│ 2   │ 1     │ 'b'  │ 0.314273  │ 0.826146 │
│ 3   │ 1     │ 'c'  │ 0.961707  │ 0.730073 │

In [13]:
y = melt(x, [1,2])
display(x)
display(y)

3×4 DataFrame
│ Row │ id    │ id2  │ a1        │ a2       │
│     │ Int64 │ Char │ Float64   │ Float64  │
├─────┼───────┼──────┼───────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.0429796 │ 0.479508 │
│ 2   │ 1     │ 'b'  │ 0.314273  │ 0.826146 │
│ 3   │ 1     │ 'c'  │ 0.961707  │ 0.730073 │

6×4 DataFrame
│ Row │ variable │ value     │ id    │ id2  │
│     │ Symbol   │ Float64   │ Int64 │ Char │
├─────┼──────────┼───────────┼───────┼──────┤
│ 1   │ a1       │ 0.0429796 │ 1     │ 'a'  │
│ 2   │ a1       │ 0.314273  │ 1     │ 'b'  │
│ 3   │ a1       │ 0.961707  │ 1     │ 'c'  │
│ 4   │ a2       │ 0.479508  │ 1     │ 'a'  │
│ 5   │ a2       │ 0.826146  │ 1     │ 'b'  │
│ 6   │ a2       │ 0.730073  │ 1     │ 'c'  │

In [14]:
unstack(y, :id2, :variable, :value) # stndard unstack with a unique key

3×3 DataFrame
│ Row │ id2  │ a1        │ a2       │
│     │ Char │ Float64⍰  │ Float64⍰ │
├─────┼──────┼───────────┼──────────┤
│ 1   │ 'a'  │ 0.0429796 │ 0.479508 │
│ 2   │ 'b'  │ 0.314273  │ 0.826146 │
│ 3   │ 'c'  │ 0.961707  │ 0.730073 │

In [15]:
unstack(y, :variable, :value) # all other columns are treated as keys

3×4 DataFrame
│ Row │ id    │ id2  │ a1        │ a2       │
│     │ Int64 │ Char │ Float64⍰  │ Float64⍰ │
├─────┼───────┼──────┼───────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.0429796 │ 0.479508 │
│ 2   │ 1     │ 'b'  │ 0.314273  │ 0.826146 │
│ 3   │ 1     │ 'c'  │ 0.961707  │ 0.730073 │

In [16]:
# all columns other than :variable and :value are treated as keys
unstack(y)

3×4 DataFrame
│ Row │ id    │ id2  │ a1        │ a2       │
│     │ Int64 │ Char │ Float64⍰  │ Float64⍰ │
├─────┼───────┼──────┼───────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 0.0429796 │ 0.479508 │
│ 2   │ 1     │ 'b'  │ 0.314273  │ 0.826146 │
│ 3   │ 1     │ 'c'  │ 0.961707  │ 0.730073 │

In [17]:
# you can rename the unstacked columns
unstack(y, renamecols=n->Symbol(:unstacked_, n))

3×4 DataFrame
│ Row │ id    │ id2  │ unstacked_a1 │ unstacked_a2 │
│     │ Int64 │ Char │ Float64⍰     │ Float64⍰     │
├─────┼───────┼──────┼──────────────┼──────────────┤
│ 1   │ 1     │ 'a'  │ 0.0429796    │ 0.479508     │
│ 2   │ 1     │ 'b'  │ 0.314273     │ 0.826146     │
│ 3   │ 1     │ 'c'  │ 0.961707     │ 0.730073     │

In [18]:
df = stack(DataFrame(rand(3,2)))

6×2 DataFrame
│ Row │ variable │ value     │
│     │ Symbol   │ Float64   │
├─────┼──────────┼───────────┤
│ 1   │ x1       │ 0.732812  │
│ 2   │ x1       │ 0.0655716 │
│ 3   │ x1       │ 0.144978  │
│ 4   │ x2       │ 0.693699  │
│ 5   │ x2       │ 0.340769  │
│ 6   │ x2       │ 0.66972   │

In [19]:
unstack(df, :variable, :value) # unable to unstack when no key column is present

ArgumentError: ArgumentError: No key column found