# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), July 16, 2019**

In [1]:
using DataFrames

## Split-apply-combine

In [2]:
x = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.10478   │
│ 2   │ 2     │ 2     │ 0.12417   │
│ 3   │ 3     │ 1     │ 0.589577  │
│ 4   │ 4     │ 2     │ 0.418537  │
│ 5   │ 1     │ 1     │ 0.0138044 │
│ 6   │ 2     │ 2     │ 0.124662  │
│ 7   │ 3     │ 1     │ 0.625023  │
│ 8   │ 4     │ 2     │ 0.80303   │

In [3]:
gx1 = groupby(x, :id)

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = 1
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.10478   │
│ 2   │ 1     │ 1     │ 0.0138044 │
⋮
Last Group (2 rows): id = 4
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.418537 │
│ 2   │ 4     │ 2     │ 0.80303  │

In [4]:
gx2 = groupby(x, [:id, :id2])

GroupedDataFrame with 4 groups based on keys: id, id2
First Group (2 rows): id = 1, id2 = 1
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.10478   │
│ 2   │ 1     │ 1     │ 0.0138044 │
⋮
Last Group (2 rows): id = 4, id2 = 2
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.418537 │
│ 2   │ 4     │ 2     │ 0.80303  │

In [5]:
parent(gx2) # get the parent DataFrame

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.10478   │
│ 2   │ 2     │ 2     │ 0.12417   │
│ 3   │ 3     │ 1     │ 0.589577  │
│ 4   │ 4     │ 2     │ 0.418537  │
│ 5   │ 1     │ 1     │ 0.0138044 │
│ 6   │ 2     │ 2     │ 0.124662  │
│ 7   │ 3     │ 1     │ 0.625023  │
│ 8   │ 4     │ 2     │ 0.80303   │

In [6]:
vcat(gx2...) # back to the DataFrame, but in a different order of rows than the original

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.10478   │
│ 2   │ 1     │ 1     │ 0.0138044 │
│ 3   │ 2     │ 2     │ 0.12417   │
│ 4   │ 2     │ 2     │ 0.124662  │
│ 5   │ 3     │ 1     │ 0.589577  │
│ 6   │ 3     │ 1     │ 0.625023  │
│ 7   │ 4     │ 2     │ 0.418537  │
│ 8   │ 4     │ 2     │ 0.80303   │

In [7]:
DataFrame(gx2) # the same

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.10478   │
│ 2   │ 1     │ 1     │ 0.0138044 │
│ 3   │ 2     │ 2     │ 0.12417   │
│ 4   │ 2     │ 2     │ 0.124662  │
│ 5   │ 3     │ 1     │ 0.589577  │
│ 6   │ 3     │ 1     │ 0.625023  │
│ 7   │ 4     │ 2     │ 0.418537  │
│ 8   │ 4     │ 2     │ 0.80303   │

In [8]:
groupvars(gx2) # vector of names of grouping variables

2-element Array{Symbol,1}:
 :id
 :id2

In [9]:
groupindices(gx2) # group indices in parent(gx2)

8-element Array{Union{Missing, Int64},1}:
 1
 2
 3
 4
 1
 2
 3
 4

In [10]:
x = DataFrame(id = [missing, 5, 1, 3, missing], x = 1:5)

5×2 DataFrame
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ 5       │ 2     │
│ 3   │ 1       │ 3     │
│ 4   │ 3       │ 4     │
│ 5   │ missing │ 5     │

In [11]:
groupby(x, :id) # by default groups include mising values and are not sorted

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = missing
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ missing │ 5     │
⋮
Last Group (1 row): id = 3
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 3      │ 4     │

In [12]:
groupby(x, :id, sort=true, skipmissing=true) # but we can change it

GroupedDataFrame with 3 groups based on key: id
First Group (1 row): id = 1
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 1      │ 3     │
⋮
Last Group (1 row): id = 5
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 5      │ 2     │

In [13]:
using Statistics
x = DataFrame(id=rand('a':'d', 100), v=rand(100));
by(x, :id, :v=>mean) # apply a function to each group of a data frame

4×2 DataFrame
│ Row │ id   │ v_mean   │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'd'  │ 0.390678 │
│ 2   │ 'a'  │ 0.497141 │
│ 3   │ 'c'  │ 0.474066 │
│ 4   │ 'b'  │ 0.596518 │

In [14]:
by(x, :id, :v=>mean, sort=true) # we can sort the output

4×2 DataFrame
│ Row │ id   │ v_mean   │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.497141 │
│ 2   │ 'b'  │ 0.596518 │
│ 3   │ 'c'  │ 0.474066 │
│ 4   │ 'd'  │ 0.390678 │

In [15]:
by(x, :id, res=:v=>mean) # this way we can set a name for a column

4×2 DataFrame
│ Row │ id   │ res      │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'd'  │ 0.390678 │
│ 2   │ 'a'  │ 0.497141 │
│ 3   │ 'c'  │ 0.474066 │
│ 4   │ 'b'  │ 0.596518 │

In [16]:
by(x, :id, res1=:v=>mean, res2=:v=>sum) # you can have multiple operations

4×3 DataFrame
│ Row │ id   │ res1     │ res2    │
│     │ Char │ Float64  │ Float64 │
├─────┼──────┼──────────┼─────────┤
│ 1   │ 'd'  │ 0.390678 │ 11.7203 │
│ 2   │ 'a'  │ 0.497141 │ 12.9257 │
│ 3   │ 'c'  │ 0.474066 │ 9.00726 │
│ 4   │ 'b'  │ 0.596518 │ 14.913  │

In [17]:
x = DataFrame(id=rand('a':'d', 100), x1=rand(100), x2=rand(100))
aggregate(x, :id, sum) # apply a function over all columns of a data frame in groups given by id

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 8.23606 │ 11.7367 │
│ 2   │ 'd'  │ 11.7255 │ 11.619  │
│ 3   │ 'b'  │ 15.6555 │ 19.0192 │
│ 4   │ 'c'  │ 9.86516 │ 12.5744 │

In [18]:
aggregate(x, :id, sum, sort=true) # also can be sorted

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 8.23606 │ 11.7367 │
│ 2   │ 'b'  │ 15.6555 │ 19.0192 │
│ 3   │ 'c'  │ 9.86516 │ 12.5744 │
│ 4   │ 'd'  │ 11.7255 │ 11.619  │

A new feature is `mapcols` convinience function

In [19]:
x = DataFrame(rand(3, 5))

3×5 DataFrame
│ Row │ x1       │ x2        │ x3       │ x4        │ x5       │
│     │ Float64  │ Float64   │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼───────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.871468 │ 0.808436  │ 0.911253 │ 0.874194  │ 0.464073 │
│ 2   │ 0.150354 │ 0.0535118 │ 0.454532 │ 0.561612  │ 0.992404 │
│ 3   │ 0.856464 │ 0.720174  │ 0.6033   │ 0.0396877 │ 0.766774 │

In [20]:
mapcols(mean, x)

1×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.626096 │ 0.527374 │ 0.656362 │ 0.491831 │ 0.741084 │

In [21]:
map(mean, eachcol(x, false)) # map a function over each column and return a vector

5-element Array{Float64,1}:
 0.6260955643810758
 0.5273739348161611
 0.6563615251562763
 0.49183121389389717
 0.7410837257895078

In [22]:
foreach(c -> println(c[1], ": ", mean(c[2])), eachcol(x, true)) # an iteration returns a Pair with column name and values

x1: 0.6260955643810758
x2: 0.5273739348161611
x3: 0.6563615251562763
x4: 0.49183121389389717
x5: 0.7410837257895078

In [23]:
map(r -> r.x1/r.x2, eachrow(x)) # now the returned value is DataFrameRow which works similarly to a one-row DataFrame

3-element Array{Float64,1}:
 1.0779680742970097
 2.8097399040760487
 1.1892462969726694