# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), August 26, 2019**

In [1]:
using Pkg
Pkg.activate(".")

Activating environment at `d:\Dev\Julia\DataFrames_Tutorial\Project.toml`

In [2]:
using DataFrames
using BenchmarkTools

## Performance tips

### Access by column number is faster than by name

In [3]:
x = DataFrame(rand(5, 1000))
@btime $x[!, 500];
@btime $x.x500;

  4.199 ns (0 allocations: 0 bytes)
  13.813 ns (0 allocations: 0 bytes)

### When working with data `DataFrame` use barrier functions or type annotation

In [4]:
using Random
function f_bad() # this function will be slow
    Random.seed!(1); x = DataFrame(rand(1000000,2))
    y, z = x[!, 1], x[!, 2]
    p = 0.0
    for i in 1:nrow(x)
        p += y[i]*z[i]
    end
    p
end

@btime f_bad();
# if you run @code_warntype f_bad() then you notice
# that Julia does not know column types of `DataFrame`

  82.455 ms (5999020 allocations: 122.06 MiB)

In [5]:
# solution 1 is to use barrier function (it should be possible to use it in almost any code)
function f_inner(y,z)
   p = 0.0
   for i in 1:length(y)
       p += y[i]*z[i]
   end
   p
end

function f_barrier() # extract the work to an inner function
    Random.seed!(1); x = DataFrame(rand(1000000,2))
    f_inner(x[!, 1], x[!, 2])
end

using LinearAlgebra
function f_inbuilt() # or use inbuilt function if possible
    Random.seed!(1); x = DataFrame(rand(1000000,2))
    dot(x[!, 1], x[!, 2])
end

@btime f_barrier();
@btime f_inbuilt();

  12.327 ms (42 allocations: 30.52 MiB)
  13.004 ms (42 allocations: 30.52 MiB)

In [6]:
# solution 2 is to provide the types of extracted columns
# it is simpler but there are cases in which you will not know these types
# This example  assumes that you have DataFrames master at least from August 31, 2018
function f_typed()
    Random.seed!(1); x = DataFrame(rand(1000000,2))
    y::Vector{Float64}, z::Vector{Float64} = x[!, 1], x[!, 2]
    p = 0.0
    for i in 1:nrow(x)
        p += y[i]*z[i]
    end
    p
end

@btime f_typed();

  12.953 ms (42 allocations: 30.52 MiB)

### Consider using delayed `DataFrame` creation technique

also notice the difference in performance between `DataFrame` and `DataFrame!` (copying vs non-copying data frame creation)

In [7]:
function f1()
    x = DataFrame!([Vector{Float64}(undef, 10^4) for i in 1:100]) # we work with a DataFrame directly
    for c in 1:ncol(x)
        d = x[!, c]
        for r in 1:nrow(x)
            d[r] = rand()
        end
    end
    x
end

function f1a()
    x = DataFrame([Vector{Float64}(undef, 10^4) for i in 1:100]) # we work with a DataFrame directly
    for c in 1:ncol(x)
        d = x[!, c]
        for r in 1:nrow(x)
            d[r] = rand()
        end
    end
    x
end

function f2()
    x = Vector{Any}(undef, 100)
    for c in 1:length(x)
        d = Vector{Float64}(undef, 10^4)
        for r in 1:length(d)
            d[r] = rand()
        end
        x[c] = d
    end
    DataFrame!(x) # we delay creation of DataFrame after we have our job done
end

function f2a()
    x = Vector{Any}(undef, 100)
    for c in 1:length(x)
        d = Vector{Float64}(undef, 10^4)
        for r in 1:length(d)
            d[r] = rand()
        end
        x[c] = d
    end
    DataFrame(x) # we delay creation of DataFrame after we have our job done
end

@btime f1();
@btime f1a();
@btime f2();
@btime f2a();

  21.032 ms (1949736 allocations: 37.42 MiB)
  22.184 ms (1949936 allocations: 45.05 MiB)
  1.585 ms (836 allocations: 7.68 MiB)
  2.646 ms (1036 allocations: 15.32 MiB)

### You can add rows to a `DataFrame` in place and it is fast

In [8]:
x = DataFrame(rand(10^6, 5))
y = DataFrame(transpose(1.0:5.0))
z = [1.0:5.0;]

@btime vcat($x, $y); # creates a new DataFrame - slow
@btime append!($x, $y); # in place - fast

x = DataFrame(rand(10^6, 5)) # reset to the same starting point
@btime push!($x, $z); # add a single row in place - fast

  13.787 ms (174 allocations: 38.16 MiB)
  359.330 ns (11 allocations: 176 bytes)
  324.348 ns (16 allocations: 256 bytes)

### Allowing `missing` as well as `categorical` slows down computations

In [9]:
using StatsBase

function test(data) # uses countmap function to test performance
    println(eltype(data))
    x = rand(data, 10^6)
    y = categorical(x)
    println(" raw:")
    @btime countmap($x)
    println(" categorical:")
    @btime countmap($y)
    nothing
end

test(1:10)
test([randstring() for i in 1:10])
test(allowmissing(1:10))
test(allowmissing([randstring() for i in 1:10]))

ArgumentError: ArgumentError: Package StatsBase not found in current path:
- Run `import Pkg; Pkg.add("StatsBase")` to install the StatsBase package.

### When aggregating use column selector and prefer categorical or pooled array grouping variable

In [10]:
df = DataFrame(x=rand('a':'d', 10^7), y=1);

In [11]:
@btime by($df, :x, v -> sum(v.y)) # traditional syntax, slow

  300.102 ms (189 allocations: 433.19 MiB)

4×2 DataFrame
│ Row │ x    │ x1      │
│     │ Char │ Int64   │
├─────┼──────┼─────────┤
│ 1   │ 'a'  │ 2500239 │
│ 2   │ 'b'  │ 2501757 │
│ 3   │ 'c'  │ 2497646 │
│ 4   │ 'd'  │ 2500358 │

In [12]:
@btime by($df, :x, :y=>sum) # use column selector

  218.191 ms (152 allocations: 356.89 MiB)

4×2 DataFrame
│ Row │ x    │ y_sum   │
│     │ Char │ Int64   │
├─────┼──────┼─────────┤
│ 1   │ 'a'  │ 2500239 │
│ 2   │ 'b'  │ 2501757 │
│ 3   │ 'c'  │ 2497646 │
│ 4   │ 'd'  │ 2500358 │

In [13]:
categorical!(df, :x);

In [14]:
@btime by($df, :x, :y=>sum)

  98.036 ms (171 allocations: 152.60 MiB)

4×2 DataFrame
│ Row │ x            │ y_sum   │
│     │ Categorical… │ Int64   │
├─────┼──────────────┼─────────┤
│ 1   │ 'a'          │ 2500239 │
│ 2   │ 'b'          │ 2501757 │
│ 3   │ 'c'          │ 2497646 │
│ 4   │ 'd'          │ 2500358 │

In [15]:
using PooledArrays

In [16]:
df.x = PooledArray{Char}(df.x)

10000000-element PooledArray{Char,UInt8,1,Array{UInt8,1}}:
 'a'
 'b'
 'c'
 'a'
 'b'
 'a'
 'a'
 'a'
 'c'
 'd'
 'd'
 'a'
 'a'
 ⋮
 'd'
 'b'
 'b'
 'd'
 'a'
 'd'
 'b'
 'b'
 'b'
 'c'
 'd'
 'a'

In [17]:
@btime by($df, :x, :y=>sum)

  94.520 ms (162 allocations: 152.60 MiB)

4×2 DataFrame
│ Row │ x    │ y_sum   │
│     │ Char │ Int64   │
├─────┼──────┼─────────┤
│ 1   │ 'a'  │ 2500239 │
│ 2   │ 'b'  │ 2501757 │
│ 3   │ 'c'  │ 2497646 │
│ 4   │ 'd'  │ 2500358 │

### Use views instead of materializing a new DataFrame

In [18]:
x = DataFrame(rand(100, 1000))

100×1000 DataFrame. Omitted printing of 994 columns
│ Row │ x1       │ x2         │ x3        │ x4        │ x5        │ x6        │
│     │ Float64  │ Float64    │ Float64   │ Float64   │ Float64   │ Float64   │
├─────┼──────────┼────────────┼───────────┼───────────┼───────────┼───────────┤
│ 1   │ 0.194219 │ 0.0752102  │ 0.924622  │ 0.654874  │ 0.333907  │ 0.084221  │
│ 2   │ 0.957204 │ 0.273191   │ 0.676637  │ 0.73715   │ 0.477124  │ 0.950504  │
│ 3   │ 0.515305 │ 0.423896   │ 0.253171  │ 0.457358  │ 0.978996  │ 0.794402  │
│ 4   │ 0.413562 │ 0.140442   │ 0.127564  │ 0.0370993 │ 0.922239  │ 0.122679  │
│ 5   │ 0.747217 │ 0.435913   │ 0.301009  │ 0.0636139 │ 0.396994  │ 0.177713  │
│ 6   │ 0.468164 │ 0.300709   │ 0.0108362 │ 0.412532  │ 0.185336  │ 0.494331  │
│ 7   │ 0.13405  │ 0.431765   │ 0.537711  │ 0.371646  │ 0.222836  │ 0.358901  │
│ 8   │ 0.751183 │ 0.487788   │ 0.278622  │ 0.808394  │ 0.0132744 │ 0.508094  │
│ 9   │ 0.721054 │ 0.176363   │ 0.281248  │ 0.408147  │ 0.191549  │ 0.398679  │
│ 10  │ 0.283822 │ 0.00133573 │ 0.265396  │ 0.550296  │ 0.481423  │ 0.610814  │
⋮
│ 90  │ 0.865537 │ 0.0277713  │ 0.108856  │ 0.850077  │ 0.658016  │ 0.622494  │
│ 91  │ 0.472027 │ 0.0632137  │ 0.132949  │ 0.0568324 │ 0.237564  │ 0.132219  │
│ 92  │ 0.214298 │ 0.417844   │ 0.100075  │ 0.369733  │ 0.973111  │ 0.291273  │
│ 93  │ 0.714338 │ 0.859117   │ 0.621122  │ 0.173497  │ 0.941706  │ 0.485196  │
│ 94  │ 0.690853 │ 0.35774    │ 0.479175  │ 0.318237  │ 0.404565  │ 0.377118  │
│ 95  │ 0.383528 │ 0.0609579  │ 0.219527  │ 0.44513   │ 0.296673  │ 0.639369  │
│ 96  │ 0.12381  │ 0.732036   │ 0.236604  │ 0.0649893 │ 0.106875  │ 0.343871  │
│ 97  │ 0.71475  │ 0.655101   │ 0.065989  │ 0.135891  │ 0.997011  │ 0.0210381 │
│ 98  │ 0.422165 │ 0.985991   │ 0.517044  │ 0.0721196 │ 0.330794  │ 0.696058  │
│ 99  │ 0.9266   │ 0.953138   │ 0.808528  │ 0.0994082 │ 0.705817  │ 0.842965  │
│ 100 │ 0.914562 │ 0.700196   │ 0.72052   │ 0.206094  │ 0.829292  │ 0.0642699 │

In [19]:
@btime $x[1:1, :]

  100.800 μs (1512 allocations: 194.53 KiB)

1×1000 DataFrame. Omitted printing of 994 columns
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │ x6       │
│     │ Float64  │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.194219 │ 0.0752102 │ 0.924622 │ 0.654874 │ 0.333907 │ 0.084221 │

In [20]:
@btime $x[1, :]

  23.593 ns (1 allocation: 32 bytes)

DataFrameRow. Omitted printing of 994 columns
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │ x6       │
│     │ Float64  │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.194219 │ 0.0752102 │ 0.924622 │ 0.654874 │ 0.333907 │ 0.084221 │

In [21]:
@btime view($x, 1:1, :)

  23.695 ns (1 allocation: 48 bytes)

1×1000 SubDataFrame. Omitted printing of 994 columns
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │ x6       │
│     │ Float64  │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.194219 │ 0.0752102 │ 0.924622 │ 0.654874 │ 0.333907 │ 0.084221 │

In [22]:
@btime $x[1:1, 1:20]

  4.586 μs (56 allocations: 7.36 KiB)

1×20 DataFrame. Omitted printing of 14 columns
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │ x6       │
│     │ Float64  │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.194219 │ 0.0752102 │ 0.924622 │ 0.654874 │ 0.333907 │ 0.084221 │

In [23]:
@btime $x[1, 1:20]

  27.537 ns (2 allocations: 80 bytes)

DataFrameRow. Omitted printing of 14 columns
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │ x6       │
│     │ Float64  │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.194219 │ 0.0752102 │ 0.924622 │ 0.654874 │ 0.333907 │ 0.084221 │

In [24]:
@btime view($x, 1:1, 1:20)

  27.235 ns (2 allocations: 96 bytes)

1×20 SubDataFrame. Omitted printing of 14 columns
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │ x6       │
│     │ Float64  │ Float64   │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.194219 │ 0.0752102 │ 0.924622 │ 0.654874 │ 0.333907 │ 0.084221 │